[submodule "themes/hugo-elate-theme"]
	path = themes/hugo-elate-theme
	url = git@github.com:hcdz/hugo-elate-theme.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:hcdz/hcdz.github.io.git
	branch = master
